.index{
    background-color: #E9969F;
    color: white;
}

.daily{
    color: black;
}

.weekly{
    color: black;
}

.habit-entry{
    background-color: #EFBEC3;
}

label, div{
    margin: 5px;
    width: 10px;
    display: inline-block;
}

.delete{
    display:block;
}

.habit-list{
    list-style-type: none;
   
}

li {
    display: block;
    background-color: #f6ccd1;
    border: solid #EFBEC3;
    padding: 2vw;
    margin: 1vw;
}